html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

#uiContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 50px;
}

#HUD {
    position:absolute;
    width: 80%;
    height: 80%;
}

.ammoBasic {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}