html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

#uiContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 650px;
    height: 650px;
    text-align: center;
    padding: 50px;
  }