@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900&display=block');

html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

#uiContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 450px;
    height: 450px;
    text-align: center;
    margin: 25px;
    user-select: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
}

#HUD {
    position:absolute;
    width: 100%;
    height: 100%;
}

.ammoBasic {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#healthDisplay {
    position: absolute;
    top: 0;
    left: 0;
}

.heart {
    float: left;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    /* background-color: white; */
    content: url("assets/heart_01.png");
    /* box-shadow: 5px 5px 5px 5px #0ff; */
    filter: drop-shadow(1px 1px 10px rgba(10, 255, 82, 0.75));
}

#scoreDisplay {
    position: absolute;
    top: 0;
    right: 0;
}

.score {
    display: flex;
    font-weight: 700;
    color: white;
    right: 0;
}

.HUDscoreText {
    text-align: right;
    color: white;
    font-weight: 700;
}

.diamond {
    margin-top: 7px;
    margin-right: 7px; 
    border: none;
    background: url("assets/TY_DiamondCoin_01.png");
    background-size: cover;
    width: 10px;
    height: 10px;
    filter: drop-shadow(1px 1px 10px rgba(10, 255, 82, 0.75));
    /* margin: 0px; */
}

#combo {
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 50px;
    font-weight: 700;
}

#combo.pop {
    animation: pop 0.3s linear 1;
}

@keyframes pop{
    50%  {transform: scale(1.2);}
}


#ammoPanel {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 0%);
    /* vertical-align: bottom; */
    display: inline-flex;
    height: 16px;
}

.ammoDisplay {
    display: flex;
    position: absolute; 
}

.ammoDisplay#primary {
    right: 50%;
    margin-right: 10px;
}

.ammoDisplay#secondary {
    left: 50%;
    margin-left: 10px;
}

.ammoDivider {
    width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 10px;
    margin-right: 10px;
}

.ammo {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    animation: pop-big 0.2s linear 1;
}


@keyframes pop-big {
    50%  {transform: scale(2);}
}


#pause {
    position: absolute;
    left: 0;
    bottom: 0;
}

.button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
}

.bPause {
    border: none;
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    font-weight: 900;
    background: url("assets/TY_PauseButton_01.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    opacity: 0.35;
    transition-duration: 0.4s;
}

.bPause:hover {
    opacity: 0.75;
}




  


.inGameMenu {
    display: inline-block;
    width: 350px;
    height: 350px;
    background-color: rgb(245, 0, 120);
    border-radius: 10px;
    filter: drop-shadow(1px 1px 10px rgb(245, 0, 120));

    animation-duration: 0.5s;
    animation-name: menuLoad;
    animation-fill-mode: forwards;
    opacity: 0;
}

.inGameMenu.delay {
    animation-delay: 1s;
}

@keyframes menuLoad {
    from {
        margin-top: 100px;
    }
    to {
        margin-top: 50px;
        opacity: 1;
    }
}


.inGameMenuTitle {
    font-weight: 900;
    margin: 20px;
    font-size: 30px;
    color: white;
}

.inGameMenuButtonPanel {
    width: 100%
}

.inGameMButton {
    font-weight: 700;
    font-size: 20px;

    width: 150px;
    height: 35px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: rgb(52, 64, 90); 
    color: white; 
    border: 2px solid #29212e;

    border-radius: 5px;

}

.inGameMButton:hover {
    background-color: #88789c;
    color: white;
}


#pauseMenuTimerPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
}

#pauseTimer {
    font-size: 25px;
}

#pauseMenuAudioPanel {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
}

.pauseAudioText {
    margin-left: 5px;
}

#gameOverScorePanel {
    font-weight: 900;
    margin-top: -10px;
}

.gameOverScore {
    font-size: 30px;
}

.gameOverScore.title {
    font-size: 20px;
}

.gameOverSummaryTitle {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.gameOverSummaryContainer {
    margin-bottom: 5px;
    width: 150px;
    display: inline-block;
}

.gameOverSummaryContainer.left {
    text-align: left;
}

.gameOverSummaryContainer.right {
    text-align: right;
}

h6 {
    font-size: 13px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

#mainMenuPanel {
    display: block;
    animation-name: mainMenuLoad;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes mainMenuLoad {
    from {
        margin-top: 275px;
    }
    to {
        margin-top: 225px;
        opacity: 1;
    }
}

#mainMenuButtons {
    width: 150px;
    display: inline-block;
}

#credits {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}